/* Td */
.image {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50px;
	padding: 2px;
	border: 1px solid rgb(147, 145, 145);
	display: flex;
	margin: auto;
}

.actions {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 120px !important;
	margin: auto;
}

.actions svg {
	font-size: 1rem;
}