/* Paggination  */
.pagination {
	text-align: center;
	display: flex;
	align-items: center;
	height: 3rem;
	padding: 0px 10px;
	justify-content: flex-end;
}

.pagination.left {
	justify-content: flex-start;
}

.pagination.right {
	justify-content: flex-end;
}

.pagination.center {
	justify-content: center;
}

.pagination .limit {
	margin-left: 5px;
	border: none;
	border-bottom: 1px solid black;
}

.pagination .limit:hover {
	cursor: pointer;
}

.pagination .btn {
	background-color: transparent;
	color: black;
}

.pagination button {
	padding: 5px 10px;
}

.pages {
	color: rgb(0, 0, 0);
	padding: 0px 20px;
	margin: 0;
	margin-top: 5px;
}

.pagination .actions {
	display: flex;
	margin: 0px;
}

@media (max-width:768px) {
	.pagination {
		padding: 0px;
		margin: auto;
	}

	.limits > span {
		display: none;
	}

}
